body {
  background: #fafafa;
  color: #555555;
  margin-top: 6rem;
  font-family: segoe ui;
}

/* Main Titles */

h1 {
  color: #02321B;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-family: trebuchet ms;
  font-weight: bold;
}

/* Not used */

h2 {
  color: #333333;
}

/* Tournament Titles */

h3 {
  color: #333333;
}

/* Menu Titles */

h4 {
  color: #333333;
}

/* Player Info */

h5 {
  color: #555555;
}

/* Not used */

h6 {
  color: #555555;
}


/* Header */

.site-header .navbar-brand {
  color: #77AF9C;
}
.bg-steel {
  background-color: #036437;
  font-family: trebuchet ms;
}

.site-header .navbar-nav .nav-link {
  color: #77AF9C;
}

.site-header .navbar-nav .nav-link:hover {
  color: #D9ECE5;
}

/* Not used */

.site-header .navbar-nav .nav-link.active {
  font-weight: 100;
}

/* Tortle icon*/

.navbar-icon {
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  width: 60px;
}


/* Page cards */

.content-section {
  background: #ffffff;
  padding: 20px 30px 20px 30px;
  border: 1px solid #D9ECE5;
  border-radius: 3px;
  margin-bottom: 30px;
  color: #77AF9C;
}

.content-game {
  color: #333333;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.content-game .game-link {
  color: #036437;
}

.content-game .game-link:hover {
  color: #77AF9C;
}


/* No bullet lists */

ul {
  list-style: none;
}

/* Not used */

.article-title {
  color: #333333;
}

a.article-title:hover {
  color: #07BA67;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #D9ECE5
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.game-img-lg {
  height: 125px;
  width: auto;
  margin-right: 20px;
  margin-bottom: 16px;
}

.game-img-md {
  height: 50px;
  width: auto;
  margin-right: 0px;
  margin-bottom: 0px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

/* Not used */

ul#players {
  list-style: none;
}

/* Tables */

table, td, th {
  border: 1px solid #333333;
  color: #333333;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  height: 50px;
  vertical-align: middle;
  padding: 15 px;
}

th {
  color: #02321B;
  vertical-align: middle;
  padding: 5px;
  test-align: left;
}

tr:hover {
  background-color: #D9ECE5;
}


.centre {
  text-align: center;
  vertical-align: middle;
}

.player-img-sm {
  height: 35px;
  width: 35px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.player-img-md {
  height: 75px;
  width: 75px;
  pointer-events: none;
}

.icon {
    width: 20px;
    height: 20px;
}

.account-heading {
  font-size: 2.5rem;
}


/* Side Navigation */

.side-nav .list-group-item.active {
    color: #000;
    background-color: #036437;
    border-color: #D9ECE5;
}

.side-nav a:link {
    color: #07BA67;
}

.side-nav a:visited {
    color: #036437;
}

.side-nav .list-group-item.active a {
    color: #ffffff;
}

.side-nav .list-group-item.active a:hover {
    color: #D6F8D6;
}

.side-nav a:hover {
    color: #7AE582;
}


/* Game grid styles */

.box-left {
   display: flex;
   align-items: center;
   text-align: left;
}

.box-right {
   display: flex;
   align-items: center;
   text-align: left;
}

.hold {
  border: solid 3px #07BA67;
  background-color: #D9ECE5;
}

.empty {
  display: inline-block;
  height: 90px;
  width: 250px;
  border: solid 2px black;
  vertical-align: middle;
  align-items:center;

}


.hovered {
  border-style: dashed;
  border-color: #7AE582;
}

.teams-container {
    display: flex;
}

.team-rows {
  display: grid;
  grid: auto-flow auto / repeat(1, auto);
  grid-gap: 5px;
  text-align: center;
  vertical-align-items: center;
}

.team-rows > div {
  background-color: white;
  width: 250px;
  height: 120px;
  padding: 5px;
}

.space {
    flex-grow: 1;
}

.player-info {
  text-align: left;
  align-items: left;
  margin-top: 5px;
  white-space: normal;
}

.player-info > img {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}

.player-info > h6 {
  padding-top: 10px;
}

/* won and mvp borders */
.won {
    border: 2px solid #07BA67;
}

.mvp {
    -moz-transition:all 0.5s ease-in;
    -moz-animation:blink normal 1.5s infinite ease-in;  /* Firefox */
    -webkit-animation:blink normal 1.5s infinite ease-in; /* Webkit */
    -ms-animation:blink normal 1.5s infinite ease-in; /* IE */
    animation:blink normal 1.5s infinite ease-in; /* Opera */
}

@keyframes blink {
    0% {
           border-color: #BDF2C1;
    }
    50% {
           border-color: #7AE582;
    }
    100% {
           border-color: #07BA67;
    }
}

@-webkit-keyframes blink {
    0% {
           border-color: #BDF2C1;
    }
    50% {
           border-color: #7AE582;
    }
    100% {
           border-color: #07BA67;
    }
}