{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h1>Tournaments</h1>
        <hr>
        <ul>
            {% for game in games %}
                <h4 class="border-bottom mb-2 mt-5"><img class="rounded-circle game-img-md" src="{{ url_for('static', filename='game_logos/' + game.image_file) }}"> {{ game.name }}</h4>
                {% for tournament in tournaments %}
                    {% if game.id == tournament.game_id %}
                        <li>
                            <a href="{{ url_for('tournaments.tournament', game_id=game.id, tournament_id=tournament.id) }}">{{ tournament.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
        <a class="btn btn-outline-success btn-sm mt-3 mb-1" href="{{ url_for('tournaments.new_tournament') }}">+ Add new tournament</a>
    </div>

{% endblock content %}