
<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/javascript.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/match_play.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/tablesort.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sorts/tablesort.number.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sorts/tablesort.date.js') }}"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tablesort.css') }}">

    {% if title %}
        <title>Tortle - {{ title }}</title>
    {% else %}
        <title>Tortle</title>
    {% endif %}
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo/tortle_green.png') }}">
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <span class="navbar-icon"> <img src="{{ url_for('static', filename='logo/tortle.png') }}" style="width:50px;height:50px;"> </span>
          <a class="navbar-brand mr-4" href="/">Tortle</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('users.account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(True) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        {% set navigation_bar = [
            ('/game/{}/tournament/{}'.format(active_game_id, active_tournament_id), 'score_board', 'Score Board'),
            ('/game/{}/tournament/{}/players'.format(active_game_id, active_tournament_id), 'players', 'Players'),
            ('/game/{}/tournament/{}/matches'.format(active_game_id, active_tournament_id), 'matches', 'Matches'),
            ('/game/{}/tournament/{}/settings'.format(active_game_id, active_tournament_id), 'settings', 'Settings')
        ] -%}
        {% if ( active_game_id and active_tournament_id )  %}
        <div class="col-md-4">
          <div class="content-section side-nav">
               <h3 class="mb-2 mt-2"><img class="rounded-circle game-img-md" src="{{ url_for('static', filename='game_logos/' + ('default.jpg' if not game else game.image_file)) }}"> {{ active_tournament_name }}</h3>
            <hr>
            <p class='text-muted'>Navigation bar for tournament.
              <ul class="list-group">
                  {% for href, id, caption in navigation_bar %}
                      <li class="list-group-item {% if id == active_page %}active{% endif %}">
                      <a href="{{ href|e }}">{{ caption|e }}</a></li>
                    {% endfor %}
              </ul>
<!--            </p>-->
          </div>
        </div>
        {% endif %}
      </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>