{% extends "layout.html" %}
{% set active_game_id = game.id %}
{% set active_tournament_id = tournament.id %}
{% set active_tournament_name = tournament.name %}
{% set active_page = 'matches' %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ title }}</legend>
                <div class="form-group">
                    {{ form.players.label(class="form-control-label") }}
                    {% if form.players.errors %}
                        {{ form.players(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.players.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.players(class="form-control form-control-lg no-dot") }}
                    {% endif %}
                </div>
                </fieldset>
            <button class="btn btn-outline-primary btn-sm" type="button" onclick="selectAllCheckboxes('players', true)">Select all</button>
            <button class="btn btn-outline-primary btn-sm" type="button" onclick="selectAllCheckboxes('players', false)">Deselect all</button>
            <hr>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
