{% extends "layout.html" %}
{% set active_game_id = game.id %}
{% set active_tournament_id = tournament.id %}
{% set active_tournament_name = tournament.name %}
{% set active_page = 'players' %}
{% block content %}
    <div class="content-section">
        <legend class="border-bottom mb-3 mt-3"><h3>Players</h3></legend>
        <div class="table-responsive">
            <table id="player-table" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th data-sort-method="none">Icon
                  </th>
                  <th data-sort-default>Player name
                  </th>
                  <th>Game name
                  </th>
                  <th>Start points
                  </th>
                  <th data-sort-method="none">Edit
                  </th>
                  <th data-sort-method="none">Delete
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for player in players %}
                <tr>
                  <td><img class="rounded-circle player-img-sm" src="{{ url_for('static', filename='player_pics/' + player.image_file) }}"></td>
                  <td><a href="{{ url_for('players.player', game_id=game.id, tournament_id=tournament.id, player_id=player.id) }}">{{ player.name }}</a></td>
                  <td>{{ player.game_name }}</td>
                  <td>{{ player.start_points }}</td>
                  <td>
                      <a href="{{ url_for('players.update_player', game_id=game.id, tournament_id=tournament.id, player_id=player.id) }}">
                          <img class="icon" alt="edit" src="{{ url_for('static', filename='icons/edit.png') }}">
                      </a>
                  </td>
                  <td>
                      <a type="button" data-toggle="modal" data-target="#deleteModal">
                          <img class="icon" alt="delete" src="{{ url_for('static', filename='icons/delete.png') }}">
                      </a>
                  </td>
                </tr>
                {% endfor %}
            </table>
            <script>new Tablesort(document.getElementById('player-table'));</script>
        </div>
        <div>
            <a class="btn btn-outline-success btn-sm mt-1 mb-1" href="{{ url_for('players.new_player', game_id=game.id, tournament_id=tournament.id) }}">+ Add new player</a>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Player?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="#" method="POST">
              <input class="btn btn-danger" type="submit" value="Delete">
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
